@import '~bootstrap/dist/css/bootstrap.css';

.margin {
  margin-left: 10%;
  margin-right: 15%;
}

.margin input {
  width: 50%;
}

.margin button {
  background-color: gray;
  border-color: gray;
}

img {
  width: 100%;
}

.onClickTextOverImage{
  width:200px;
  height:200px;
  background-size:cover;
  display:inline-block;
  margin:1px;
  box-shadow:0 0 16px rgba(0,0,0,0.5);
  position:relative;
}


